@use 'mixins';

.tickets-register {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  &__form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
  }

  &__input {
    @include mixins.default-input();
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
   @include mixins.default-button();
  }
}
