<div class="tickets-register__container">
  <div
    [formGroup]="registerForm"
    class="tickets-register__form"
  >
    <div class="tickets-register__field">
      <label class="tickets-register__label" for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        class="tickets-register__input"
        placeholder="Enter your email"
      >
    </div>
    <div class="tickets-register__field">
      <label class="tickets-register__label" for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="tickets-register__input"
        placeholder="Enter your password"
      >
    </div>
    <div class="tickets-register__field">
      <label class="tickets-register__label" for="confirmPassword">Confirm password</label>
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        class="tickets-register__input"
        placeholder="Repeat your password"
      >
    </div>
    <div class="tickets-register__field">
      <label class="tickets-register__label" for="firstName">First name</label>
      <input
        id="firstName"
        formControlName="firstName"
        class="tickets-register__input"
        placeholder="Enter your first name"
      >
    </div>
    <div class="tickets-register__field">
      <label class="tickets-register__label" for="lastName">Last name</label>
      <input
        id="lastName"
        formControlName="lastName"
        class="tickets-register__input"
        placeholder="Enter your last name"
      >
    </div>
    <div class="tickets-register__field">
      <label class="tickets-register__label" for="phoneNumber">Phone number</label>
      <input
        id="phoneNumber"
        formControlName="phoneNumber"
        class="tickets-register__input"
        placeholder="Enter your phone number"
      >
    </div>
    <div class="tickets-register__buttons">
      <button
        [disabled]="registerForm.invalid"
        (click)="onRegister()"
        class="tickets-register__button"
      >
        Register
      </button>
    </div>
    <div
      (click)="onLogin()"
      class="tickets-register__login"
    >
      <span>Already have an account? <u>Log in</u></span>
    </div>
  </div>
</div>
