<div class="tickets-register__container">
  <div
    [formGroup]="registerForm"
    class="tickets-register__form"
  >
    <div class="tickets-register__form__field">
      <span>Email</span>
      <input
        formControlName="email"
        placeholder="Enter your mail"
      >
    </div>
    <div class="tickets-register__form__field">
      <span>Password</span>
      <input
        formControlName="password"
        type="password"
        placeholder="Enter your your password"
      >
    </div>
    <div class="tickets-register__form__field">
      <span>Confirm password</span>
      <input
        formControlName="confirmPassword"
        placeholder="Repeat password"
      >
    </div>
    <div class="tickets-register__form__field">
      <span>First name</span>
      <input
        formControlName="firstName"
        placeholder="Enter your first name"
      >
    </div>
    <div class="tickets-register__form__field">
      <span>Last name</span>
      <input
        formControlName="lastName"
        placeholder="Enter your last name"
      >
    </div>
    <div class="tickets-register__form__field">
      <span>Phone number</span>
      <input
        formControlName="phoneNumber"
        placeholder="Enter your phone number"
      >
    </div>
  </div>
  <div class="tickets-register__form__buttons">
    <button
      (click)="onRegister()"
      class="tickets-register__form__button-register"
    >
      Register
    </button>
  </div>
</div>
