<div class="tickets-navbar__container">
  @if(userRole() === UserRole.ADMIN) {
    <a
      routerLink="/categories"
      class="tickets-navbar__item"
    >
      Categories
    </a>
    <a
      routerLink="/admin-events"
      class="tickets-navbar__item"
    >
      Events
    </a>
  } @else {
    <a
      routerLink="/events"
      class="tickets-navbar__item"
    >
      Events
    </a>
    <a
      routerLink="/cart"
      class="tickets-navbar__item"
    >
      <mat-icon>shopping_basket</mat-icon>
    </a>
  } @if(userRole() === UserRole.USER) {
    <a
      routerLink="/history"
      class="tickets-navbar__item">
      History
    </a>
  }

  @if(!isLoggedIn()) {
    <a
      routerLink="/login"
      class="tickets-navbar__item"
    >
      Login
    </a>
  } @else {
    <button
      (click)="onLogout()"
      class="tickets-navbar__logout"
    >
      Logout
    </button>
  }
</div>
