@import 'variables';

:host {
  display: flex;
  justify-content: center;
  height: 100%;
}

.tickets-navbar {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(80% - $main-size * 16);
    height: 100%;
    background-color: #191028a3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: $main-size * 2;
    padding: 0 $main-size * 8;
  }

  &__item {
    color: 	#DCDCDC;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.4s ease-in-out;
    border-radius: $main-size * 2;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__logout {
    background-color: #A62C2C;
    color: 	#DCDCDC;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #b52b3b;
    }
  }
}
