<div class="tickets-events__container">
  <div class="tickets-events__filters">
    <div
      class="tickets-events__search"
      matColumnDef="filter"
    >
      <mat-form-field><mat-label>Search for event by name</mat-label>
        <input
          (input)="onSearchInput($event)"
          class="tickets-event__input"
          placeholder="Search"
          matInput
        />
      </mat-form-field>
    </div>
    @if(mainCategories()) {
      <div class="tickets-events__filter-item">
        <mat-form-field appearance="fill">
          <mat-label>Main Category</mat-label>
          <select matNativeControl (change)="onCategorySelected($event)">
            <option [value]="''">All categories</option>
            @for (category of mainCategories(); track category.id) {
              <option [value]="category.id">{{ category.name }}</option>
            }
          </select>
        </mat-form-field>
      </div>
    }

    <div class="tickets-events__filter-item">
      <mat-checkbox (change)="onAvailableOnlyChanged($event.checked)">
        Events with available tickets only
      </mat-checkbox>
    </div>
  </div>


  @if(totalEvents()) {
    <div class="tickets-events__cards">
      @for (event of events(); track event.id) {
        <tickets-event-card [event]="event" />
      }
    </div>
    <mat-paginator
      #paginator
      [length]="totalEvents()"
      [pageSizeOptions]="paginationSizes()"
      [pageSize]="defaultPageSize()"
      (page)="pageChangeEvent($event)"
      showFirstLastButtons
    ></mat-paginator>
  } @else {
    <p>There is no data for given filters</p>
  }
</div>
