<div class="categories-container">
  <tickets-table
    [tableColumns]="categoriesColumns()"
    [tableData]="categories()!"
    [canAddItem]="true"
    [isPageable]="true"
    [isSearchable]="true"
    [paginationSizes]="[5, 10, 20]"
    [defaultPageSize]="currentPaginationData().limit"
    [totalItemCount]="categories()?.total!"
    (pageChanged)="onPageChanged($event)"
    (searchChanged)="onSearchChanged($event)"
    (editClicked)="onEditClicked($event)"
    (deleteClicked)="onDeleteClicked($event)"
    (addClicked)="onAddClicked()"
  ></tickets-table>
</div>
