@use "mixins";

.tickets-modal-buttons {
  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__close, &__save {
    @include mixins.clear-button;
    @include mixins.default-button;
  }
}
