<div class="tickets-login__container">
  <div
    [formGroup]="loginForm"
    class="tickets-login__form"
  >
    <div class="tickets-login__field">
      <label class="tickets-login__label" for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        class="tickets-login__input"
        placeholder="Enter your email"
      >
    </div>
    <div class="tickets-login__field">
      <label class="tickets-login__label" for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="tickets-login__input"
        placeholder="Enter your password"
      >
    </div>
    <div class="tickets-login__buttons">
      <button
        [disabled]="loginForm.invalid"
        (click)="onLogin()"
        class="tickets-login__button"
      >
        Login
      </button>
    </div>
    <div
      (click)="onRegister()"
      class="tickets-login__register"
    >
      <span>Don't have an account? <u>Sign up</u></span>
    </div>
  </div>
</div>
