@use 'variables';

@mixin clear-button {
  background-color: transparent;
  border: none;

  :hover {
    cursor: pointer;
  }
}

@mixin default-input($border-color: #ccc, $focus-border-color: #007bff) {
  padding: 0.5rem;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;

  &:focus {
    border-color: $focus-border-color;
    outline: none;
  }
}

@mixin default-button($bg-color: #007bff, $hover-bg-color: #0056b3) {
  background-color: $bg-color;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin modal-styles {
  .tickets-modal {
    border-radius: variables.$main-size * 2;
    padding: variables.$main-size * 8;
    background-color: variables.$white;
    width: 80%;
    height: 60%;
    max-width: 800px !important;
    max-height: 600px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !important;

    .mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 0 !important;
      padding: 0 !important;
    }


    .mat-mdc-dialog-surface.mdc-dialog__surface {
      background: var(--background-color) !important;
      box-shadow: none;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  .tickets-small-modal {
    max-height: 350px !important;
  }

  .tickets-confirm-modal {
    max-height: 250px !important;
    max-width: 400px !important;
  }
}
