@import 'variables';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.tickets-root-layout {
  &__container {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #f4f4f4;
    padding: 0 10 * $main-size;
  }

  &__navbar {
    width: 100%;
    height: $navbar-height;
  }

  &__main {
    margin-top: $main-size * 10;
    height: calc(100vh - $navbar-height - $main-size * 10 * 2);
    width: 100%;
    overflow: auto;
  }

  &__toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
  }
}
